<h2>Loading Indicator</h2>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-6 dds__col--md-12 dds__m-5 controlPanel">
    <dds-button (click)="switchType()">Switch Type ({{mode}})</dds-button>
    <dds-button (click)="toggle()" [disabled]="resetCount"
      >Toggle {{resetCount}}</dds-button
    >
  </div>
</div>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-6 dds__col--md-12 dds__m-5">
    <dds-load
      #loader
      [mode]="mode"
      [label]="messages[mindex]"
      size="md"
      placement="bottom"
    ></dds-load>
  </div>
</div>
