<h2>Checkbox</h2>
<p>
  Don't forget in Angular to add the FormsModule to your app module, in order to
  use 2-way binding
</p>

<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-4 dds__col--md-4 dds__mb-3">
    <div class="dds__checkbox">
      <label class="dds__checkbox__label" for="checkbox-input-0">
        <input
          type="checkbox"
          tabindex="0"
          id="checkbox-input-0"
          name="example-checkbox"
          class="dds__checkbox__input"
          [(ngModel)]="checkboxOn"
        />
        <span>Dell UltraSharp</span>
      </label>
    </div>
    {{checkboxOn}}
  </div>
  <div class="dds__col--1 dds__col--sm-4 dds__col--md-4 dds__mb-3">
    <div class="dds__checkbox">
      <label class="dds__checkbox__label" for="checkbox-input-1">
        <input
          type="checkbox"
          tabindex="0"
          id="checkbox-input-1"
          name="example-checkbox"
          class="dds__checkbox__input"
          [(ngModel)]="checkboxOn2"
        />
        <span>Razor UltraSharp</span>
      </label>
    </div>
    {{checkboxOn2}}
  </div>
  <div class="dds__col--1 dds__col--sm-4 dds__col--md-4 dds__mb-3">
    <div class="dds__checkbox">
      <label class="dds__checkbox__label" for="checkbox-input-2">
        <input
          type="checkbox"
          tabindex="0"
          id="checkbox-input-2"
          name="example-checkbox"
          class="dds__checkbox__input"
          [(ngModel)]="checkboxOn3"
        />
        <span>Cheddar UltraSharp</span>
      </label>
    </div>
    {{checkboxOn3}}
  </div>
</div>
