<h2>Radio Buttons</h2>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
    <fieldset required="true" class="dds__fieldset dds__fieldset--lg">
      <legend>Select service</legend>
      <div class="dds__radio-button">
        <input
          class="dds__radio-button__input"
          type="radio"
          name="services"
          id="radio-button-input-1"
          value="Apex"
        />
        <label class="dds__radio-button__label" for="radio-button-input-1"
          >Apex</label
        >
      </div>
      <div class="dds__radio-button">
        <input
          class="dds__radio-button__input"
          type="radio"
          name="services"
          id="radio-button-input-2"
          value="Multi Cloud"
        />
        <label class="dds__radio-button__label" for="radio-button-input-2"
          >Multi Cloud</label
        >
      </div>
      <div class="dds__radio-button">
        <input
          class="dds__radio-button__input"
          type="radio"
          name="services"
          id="radio-button-input-3"
          value="Cloud Solutions"
        />
        <label class="dds__radio-button__label" for="radio-button-input-3"
          >Cloud Solutions</label
        >
      </div>
      <div class="dds__radio-button">
        <input
          class="dds__radio-button__input"
          type="radio"
          name="services"
          id="radio-button-input-4"
          value="Energy"
        />
        <label class="dds__radio-button__label" for="radio-button-input-4"
          >Energy</label
        >
      </div>
    </fieldset>
  </div>
</div>
