        <h2>MoreLess</h2>
        <div class="dds__row">
          <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
            <h3 class="boxH3">Related</h3>
            <p>
              <dds-moreless elementId="ddsMoreLessRelated" title="Soy sauce">
                <div is-more>
                  Hakodate nori Nissin instant cup ramen flavoured oil yuzu
                  spinach chopped onions vinegar, Sapporo seasoned egg rice soy
                  sauce wood ear mushroom pork cubes sesame oil.
                </div>
              </dds-moreless>
            </p>
            <hr />
            <h3 class="boxH3">List</h3>
            <p>
              <dds-moreless
                elementId="ddsMoreLessList"
                title="Soy sauce"
                type="list"
                srMore="Japanese Names"
              >
                <ol is-list class="dds__more-less__target">
                  <li><a href="javascript:;">Hakata</a></li>
                  <li><a href="javascript:;">Wakayama</a></li>
                  <li><a href="javascript:;">Tokushima</a></li>
                  <li><a href="javascript:;">Hakodate</a></li>
                  <li hidden="true"><a href="javascript:;">Yokohama</a></li>
                  <li hidden="true"><a href="javascript:;">Nissin</a></li>
                </ol>
              </dds-moreless>
            </p>
            <hr />
            <h3 class="boxH3">Bottom</h3>
            <p>
              <dds-moreless
                elementId="ddsMoreLessBottom"
                title="Leek scallions"
                type="bottom"
              >
                <span is-less>
                  Bamboo slices pork cubes leek Tokushima Wakayama seasoned egg
                  chopped onions Asahikawa, wood ear mushroom soy milk pork
                  bones yuzu fish broth Tokyo Hakata, Nissin instant cup ramen
                  salt roasted pork slices Nagoya mustard greens spinach. Leek
                  scallions fish broth ground black pepper pork bones spicy bean
                  paste toasted sesame seeds
                </span>
                <span is-more>
                  Wakayama wood ear mushroom salt sesame oil Kumamoto spinach
                  ginger mustard greens spicy bean paste, toasted sesame seeds
                  nori Hakodate Nissin instant cup ramen corn roasted pork
                  slices pork bones. Butter ground black pepper rice lard
                  Sapporo scallions leek, pork bones Tokushima seasoned egg
                  mustard greens chopped onions, Hakata toasted sesame seeds
                  ginger nori bamboo slices.
                </span>
              </dds-moreless>
            </p>
            <hr />
            <h3 class="boxH3">Inline</h3>
            <p>
              <dds-moreless
                elementId="ddsMoreLessInline"
                title="Tokushima sesame"
                type="inline"
                srMore="sushi"
                srLess="sushi"
              >
                <span is-less>
                  Mustard greens yuzu Asahikawa roasted pork slices tsukemen
                  Hakata, Kagoshima kamaboko sesame oil miso leek chilli,
                  Wakayama Hakodate fish broth spicy bean paste. Tsukemen
                  flavoured oil Hakodate soy milk Nissin instant cup ramen
                  Tokushima yuzu chopped onions Sapporo vinegar spicy bean paste
                </span>
                <span is-more>
                  Nissin instant cup ramen pork cubes seasoned egg. roasted pork
                  slices Sapporo Tokushima vinegar pork cubes abura soba nori
                  sesame oil, Nissin instant cup ramen butter fish broth minced
                  garlic curry ginger Hakata, salt chicken stock corn miso
                  Yokohama bamboo slices toasted sesame seeds.
                </span>
              </dds-moreless>
            </p>
          </div>
        </div>
