        <h2>Badge</h2>
        <div class="dds__row">
          <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
            <p>
              <dds-badge value="99+" units="items">
                <i class="dds__icon dds__icon--cart"></i>
              </dds-badge>
            </p>
            <p>
              <dds-badge value="123" units="emails">
                Inbox
              </dds-badge>
            </p>
            <p>
              <dds-badge classList="dds__badge--sm">Small</dds-badge>
            </p>
            <p>
              <dds-badge classList="dds__mr-3 dds__mb-3">Large</dds-badge>
            </p>
            <p>
              <dds-badge icon="accessibility">A11y</dds-badge>
            </p>
            <p>
              <dds-badge classList="dds__badge--dot"></dds-badge>
            </p>
            <p>
              <dds-badge classList="dds__badge--microdot"></dds-badge>
            </p>
            <p>
              <dds-badge classList="dds__badge--error">Error</dds-badge>
            </p>
          </div>
        </div>
