.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  padding: 0.1rem;
  flex: 1 1 auto;
  position: relative; /* ?? */
  overflow-y: auto;
}

header,
footer {
  min-height: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.headerRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1 2 auto;
}

.headerCol {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
main {
  overflow: hidden;
}

main nav {
  position: sticky;
  top: 0;
}

::ng-deep.boxH3 {
  text-align: right;
}

::ng-deep.boxH4 {
  margin-top: 2rem;
  border-bottom: 2px dashed gray;
}

::ng-deep.boxHr {
  border-top: 2px dashed darkgray;
  border-bottom: 2px dotted lightgray;
}

.content {
  width: 100%;
  overflow-y: auto;
}
