<div class="body">
  <app-header>
    <div class="headerRow">
      <div class="headerCol">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i
            class="dds__icon dds__icon--brand-dell"
            style="font-size: 2.5rem;"
          ></i>
        </a>
      </div>
      <div class="headerCol">
        <dds-textinput
          style="top: 4px; position:relative;"
          elementId="fakeSearch"
          icons="search"
          iconClickable="true"
          required="true"
          classList="dds__input-text__container--sm"
          (onIconClick)="fakeSearch($event)"
        >
        </dds-textinput>
      </div>
      <div class="headerCol">
        <button
          class="
            customHeaderButton
            dds__button dds__button--secondary dds__button--sm
          "
          style="border:0;"
        >
          <dds-badge value="4" units="items" pointer>
            <i class="dds__icon dds__icon--cart"></i>
          </dds-badge>
        </button>
        <dds-actionmenu alignment="end" button="true">
          <div action-trigger>
            <button
              class="
                customHeaderButton
                dds__button dds__button--secondary dds__button--sm
              "
              style="border:0;"
            >
              <dds-badge value="12" units="items" pointer>
                <i class="dds__icon dds__icon--user"></i>
              </dds-badge>
            </button>
          </div>
          <dds-actionmenu-menu elementId="amMenu1" name="Pages">
            <dds-actionmenu-item
              elementId="amAction1"
              icon="airplane"
              (click)="menuAction()"
            >
              Accordion
            </dds-actionmenu-item>
          </dds-actionmenu-menu>

          <dds-actionmenu-menu elementId="amCheck" separator="true">
            Settings
          </dds-actionmenu-menu>
          <dds-actionmenu-item
            elementId="viewRows"
            checkbox="true"
            icon="view-row"
            value="rows"
          >
            Setting A
          </dds-actionmenu-item>
          <dds-actionmenu-item
            elementId="viewCols"
            checkbox="true"
            checked="true"
            icon="view-column"
            value="columns"
          >
            Setting B
          </dds-actionmenu-item>
        </dds-actionmenu>
      </div>
    </div>
  </app-header>
  <main id="bodyMain">
    <nav>
      <!-- sidebar 1 content -->
      <dds-sidenav fixed="false" init="later" sticky="true">
        <dds-sidenav-menu
          *ngFor="let tag of menuTags; index as t"
          icon="{{ tags[tag] }}"
          open="true"
          name="{{ tag.toUpperCase() }}"
          ><!-- TODO open does not seem to work -->
          <ng-container *ngFor="let item of menuItems; index as i">
            <dds-sidenav-item
              *ngIf="item.tags.includes(tag)"
              [selected]="currentRoute === item.text.toLowerCase()"
              icon="{{ item.icon }}"
              [routerLink]="'/' + item.text.toLowerCase()"
            >
              <span>
                {{ item.text }}
              </span>
            </dds-sidenav-item>
          </ng-container>
        </dds-sidenav-menu>
      </dds-sidenav>
    </nav>
    <!-- <aside>Global Right-side content</aside> -->
    <!-- Main page content -->
    <div class="content">
      <div class="dds__container dds__pt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer>footer</footer>
</div>
