<h2>Checkbox</h2>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
    <div class="controlPanel">
      <dds-button (click)="handleClear($event)">
        Clear Date
      </dds-button>
      <dds-button (click)="handleSet($event)">
        Set Date
      </dds-button>
      <dds-button (click)="handleDisable($event)">
        {{isDisabled ? "Enable" : "Disable"}}
      </dds-button>
    </div>
  </div>
</div>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
    <ng-container *ngFor="let picker of [1,2,3]; index as i">
      <dds-datepicker
        [isDisabled]="isDisabled"
        [elementId]="'ddsDatepicker' + i"
        [helper]="['emergency!', 'abandoned!', 'meeooowwww!!!'][i]"
        [label]="['Playing with balls of wool', 'cough hairball cough', 'why is dog in house?'][i]"
        placeholder="MM/DD/YYYY"
        required="true"
        [ddsOptions]="ddsOptions"
        fullClick="false"
        (onBlur)="handleBlur($event, i)"
      ></dds-datepicker>
    </ng-container>
    <ng-container *ngFor="let selection of dateSelected; index as i">
      {{selection}}<br />
    </ng-container>
  </div>
</div>
