        <h2>TextArea</h2>
        <div class="dds__row">
          <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
            <dds-form class="bumble">
              <dds-textarea isRequired="true" maxLength="51">
                <div label-text>
                  Extra mocha froth aromatic macchiato irish coffee
                </div>
                <div default-text>{{textareaText}}</div>
                <div helper-text>
                  DIY whatever synth tbh disrupt
                </div>
                <div error-text>
                  Dummy text? More like dummy thicc text, amirite?
                </div>
                <div screen-reader-text>
                  I'm your older brother, Mike, and I was stepped over! Never
                  let anyone know what you are thinking. You talk about
                  vengeance. Is vengeance going to bring your son back to you?
                  Or my boy to me? I am sorry. What happened to your father was
                  business. I have much respect for your father. But your
                  father, his thinking is old-fashioned. You must understand why
                  I had to do that. Now let's work through where we go from
                  here.
                </div>
              </dds-textarea>
            </dds-form>
          </div>
        </div>
