<h2>TextArea</h2>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
    <dds-form class="bumble">
      <dds-textarea isRequired="true" maxLength="51">
        <div label-text>Extra mocha froth aromatic macchiato irish coffee</div>
        <div default-text>{{ textareaText }}</div>
        <div helper-text>DIY whatever synth tbh disrupt</div>
        <div error-text>Dummy text? More like dummy thicc text, amirite?</div>
        <div screen-reader-text>Meow</div>
      </dds-textarea>
    </dds-form>
  </div>
</div>
