<!-- <button class="btn btn-primary" (click)="onLoadServers()">Load Servers</button> -->
<h2>README</h2>
<h3 class="boxH3">Disclaimer</h3>
<p>
  This sandbox is version-controlled, and has been created as a result of
  demand, as well as in response to tickets filed for solving specific problems.
  There are occasionally oddities, and experiments shown that can and in some
  instances should be ignored. Please
  <a
    target="blank"
    href="https://forms.office.com/Pages/ResponsePage.aspx?id=mhlclKKDgE6fjFqRvldS3Tu72-e1EktEmC896wPSUmFUOUcwSE9NMVBLQkVONzk1SUVZNllWMUtMWiQlQCN0PWcu"
    >contact</a
  >
  the DDS2 Support and Automation team for further information.
</p>
<h3 class="boxH3">Notes</h3>
<h4 class="boxH4">Shell Inheritance</h4>
<p>
  All wrapping components inherit from
  <i>lib/helpers/dds.component.ts</i>
</p>
<h4 class="boxH4">Initialization Timing</h4>
<p>
  The component shell normally initializes the DDS component within the
  AfterViewInit life cycle stage. However if you add the
  <i>init</i> property to any of the components' instances, it will initialize
  AFTER that step, whenever the DDS component is found in the DOM.
</p>
