<h2>Modal</h2>
<div class="dds__row">
  <div class="dds__col--2 dds__col--sm-6 dds__col--md-6 dds__mb-3">
    <div class="controlPanel">
      <button
        role="button"
        class="dds__button dds__button--primary"
        (click)="open($event)"
      >
        External Open
      </button>
      <dds-modal #cheeseModal elementId="fromageId" backdrop="true">
        <div modal-title>Saveur de fromage</div>
        <div modal-body>
          Queso when the cheese comes out everybody's happy jarlsberg. Roquefort
          cheesecake cheddar cheese and wine cheeseburger caerphilly queso
          cheesy feet. Lancashire taleggio melted cheese who moved my cheese
          blue castello pecorino.
        </div>
        <div modal-footer>
          <button
            class="dds__button dds__button--secondary"
            (click)="close($event)"
          >
            Non
          </button>
          <button
            class="dds__button dds__button--primary"
            (click)="close($event)"
          >
            Oui
          </button>
        </div>
        <span modal-trigger>
          <button role="button" class="dds__button dds__button--primary">
            Internal Open
          </button>
          &nbsp;
        </span>
      </dds-modal>
    </div>
  </div>
</div>
