<h2>Modal</h2>
<div class="dds__row">
  <div class="dds__col--2 dds__col--sm-6 dds__col--md-6 dds__mb-3">
    <div class="controlPanel">
      <button
        role="button"
        class="dds__button dds__button--primary"
        (click)="open($event)"
      >
        Open via API
      </button>
      <dds-modal #cheeseModal elementId="fromageId" backdrop="true">
        <div modal-title>Saveur de fromage</div>
        <div modal-body>
          <p>
            <b style="color: #bb2a33;">Attention!</b>
            Modals can scroll, but the practice is not recommended. If you have
            a lot of content to display, try a Drawer component
          </p>
          <p>
            Pepper jack blue castello roquefort. Melted cheese red leicester
            mascarpone pepper jack cheeseburger red leicester blue castello who
            moved my cheese. The big cheese smelly cheese cheeseburger red
            leicester the big cheese camembert de normandie cheesy feet danish
            fontina. Emmental paneer cheesy feet halloumi halloumi cream cheese
            cheese and wine dolcelatte. Ricotta.
          </p>
          <p>
            Rubber cheese cauliflower cheese macaroni cheese. Dolcelatte
            monterey jack swiss blue castello say cheese lancashire dolcelatte
            babybel. Camembert de normandie jarlsberg airedale mozzarella
            macaroni cheese emmental pecorino cheese slices. Halloumi roquefort
            red leicester fromage emmental cheese strings swiss.
          </p>
          <p>
            Fromage babybel paneer. Dolcelatte mozzarella goat croque monsieur
            gouda jarlsberg cheesy grin monterey jack. Pecorino who moved my
            cheese everyone loves monterey jack airedale brie chalk and cheese
            st. agur blue cheese. Feta red leicester hard cheese cottage cheese
            everyone loves cream cheese blue castello fromage frais. Fromage
            frais.
          </p>
          <p>
            Edam pepper jack croque monsieur. The big cheese cottage cheese
            rubber cheese cheesy grin manchego hard cheese mozzarella pepper
            jack. Roquefort smelly cheese danish fontina camembert de normandie
            mozzarella airedale brie cheddar. Brie who moved my cheese melted
            cheese.
          </p>
          <p>
            Bavarian bergkase babybel stinking bishop. When the cheese comes out
            everybody's happy lancashire edam who moved my cheese cream cheese
            danish fontina rubber cheese cheese and biscuits. Cheesy grin
            jarlsberg macaroni cheese cauliflower cheese cheese strings stilton
            cheese and biscuits bocconcini. Emmental airedale cream cheese.
          </p>
          <p>
            Pepper jack blue castello roquefort. Melted cheese red leicester
            mascarpone pepper jack cheeseburger red leicester blue castello who
            moved my cheese. The big cheese smelly cheese cheeseburger red
            leicester the big cheese camembert de normandie cheesy feet danish
            fontina. Emmental paneer cheesy feet halloumi halloumi cream cheese
            cheese and wine dolcelatte. Ricotta.
          </p>
          <p>
            Rubber cheese cauliflower cheese macaroni cheese. Dolcelatte
            monterey jack swiss blue castello say cheese lancashire dolcelatte
            babybel. Camembert de normandie jarlsberg airedale mozzarella
            macaroni cheese emmental pecorino cheese slices. Halloumi roquefort
            red leicester fromage emmental cheese strings swiss.
          </p>
          <p>
            Fromage babybel paneer. Dolcelatte mozzarella goat croque monsieur
            gouda jarlsberg cheesy grin monterey jack. Pecorino who moved my
            cheese everyone loves monterey jack airedale brie chalk and cheese
            st. agur blue cheese. Feta red leicester hard cheese cottage cheese
            everyone loves cream cheese blue castello fromage frais. Fromage
            frais.
          </p>
        </div>

        <div modal-footer>
          <button
            class="dds__button dds__button--secondary"
            (click)="close($event)"
          >
            Non
          </button>
          <button
            class="dds__button dds__button--primary"
            (click)="close($event)"
          >
            Oui
          </button>
        </div>
        <span modal-trigger>
          <button role="button" class="dds__button dds__button--primary">
            Internal Open
          </button>
          &nbsp;
        </span>
      </dds-modal>
    </div>
  </div>
</div>
