<h2>Popover</h2>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-6 dds__col--md-12 dds__mb-3">
    Popover with custom trigger element:
    <a id="charlie" href="javascript:void(0);" class="dds__link--standalone">
      a link
    </a>
    <dds-popover
      #charlie
      ddsOptions='{"placement": "bottom", "trigger": "charlie"}'
      headline="To The Person Who Stole My..."
      classList="dds__popover--md"
    >
      To the person who stole my place in line: I’m after you now.
    </dds-popover>

    <br /><br />

    Popover without trigger specified:
    <dds-popover
      ddsOptions='{"placement": "right"}'
      headline="What did the person who invented knock-knock jokes win?"
      classList="dds__popover--sm"
    >
      A Nobel Prize
    </dds-popover>
  </div>
</div>
