<h2>Filter</h2>
<div class="dds__row">
  <div class="dds__col--2 dds__col--sm-12 dds__col--md-12 dds__mb-3">
    <h3>Horizontal</h3>
    <p>
      The first dropdown below ("meow meow") is showing an successful
      <i>experiment</i> to adapt the Dropdown to work against backend data, so
      text searches done in its input field then recreate the dropdown with the
      new data, and a page-level memory is kept to remember previously-selected
      options.
      <b>
        Note for backend searching, you must set useBackend="true"
      </b>
    </p>
    <div class="controlPanel">
      <dds-button
        elementId="dropdownUpdate"
        ariaLabel="Update Data in dropdown"
        (click)="handleDropdown.externalUpdate()"
      >
        Update Data
      </dds-button>
    </div>
  </div>
</div>
<div class="dds__row">
  <div class="dds__col--1 dds__col--sm-3 dds__col--md-4 dds__mb-3">
    <dds-dropdown
      #filter0
      elementId="ddsDropdownFilter0"
      [groups]="dropdownData[0].groups"
      (onKeyUp)="handleDropdown.keyUp(0, $event)"
      (optionSelected)="handleDropdown.select(0, $event)"
      (optionDeselected)="handleDropdown.deselect(0, $event)"
      (optionsCleared)="handleDropdown.clear(0, $event)"
      ddsOptions='{"selection": "multiple"}'
      useBackend="true"
      label="meow meow"
    >
    </dds-dropdown>
  </div>
  <div class="dds__col--1 dds__col--sm-3 dds__col--md-4 dds__mb-3">
    <dds-dropdown
      #filter1
      elementId="ddsDropdownFilter1"
      [groups]="dropdownData[1].groups"
      (optionSelected)="handleDropdown.select(1, $event)"
      (optionDeselected)="handleDropdown.deselect(1, $event)"
      (optionsCleared)="handleDropdown.clear(1, $event)"
      ddsOptions='{"selection": "multiple"}'
      label="why dog in house?"
      [warning]="dogHouseWarning"
    >
    </dds-dropdown>
  </div>
  <div class="dds__col--1 dds__col--sm-3 dds__col--md-4 dds__mb-3">
    <dds-dropdown
      #filter2
      elementId="ddsDropdownFilter2"
      [groups]="dropdownData[2].groups"
      (optionSelected)="handleDropdown.select(2, $event)"
      (optionDeselected)="handleDropdown.deselect(2, $event)"
      (optionsCleared)="handleDropdown.clear(2, $event)"
      ddsOptions='{"selection": "multiple"}'
      label="bite because im moody"
    >
    </dds-dropdown>
  </div>
</div>
<div class="dds__row">
  <div
    *ngIf="dropdownData[0].stored.length > 0 || dropdownData[1].stored.length > 0 || dropdownData[2].stored.length > 0"
    class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3 tagContainer"
  >
    Filter Results ({{ dropdownData[0].stored.length +
    dropdownData[1].stored.length + dropdownData[2].stored.length }}):
    <ng-container *ngFor="let tag of dropdownData[0].stored">
      <dds-tag
        ddsOptions='{"dismiss": true}'
        (onDismiss)="filter0.deselect($event)"
        (click)="
              handleTagClick(0, $event, filter0, {
                value: tag.value,
                text: tag.text
              })
            "
        value="{{ tag.value }}"
      >
        {{ tag.text }}
      </dds-tag>
    </ng-container>
    <ng-container *ngFor="let tag of dropdownData[1].stored">
      <dds-tag
        ddsOptions='{"dismiss": true}'
        (onDismiss)="filter1.deselect($event)"
        (click)="
                handleTagClick(1, $event, filter1, {
                  value: tag.value,
                  text: tag.text
                })
              "
        value="{{ tag.value }}"
      >
        {{ tag.text }}
      </dds-tag>
    </ng-container>
    <ng-container *ngFor="let tag of dropdownData[2].stored">
      <dds-tag
        ddsOptions='{"dismiss": true}'
        (onDismiss)="filter2.deselect($event)"
        (click)="
                  handleTagClick(2, $event, filter2, {
                    value: tag.value,
                    text: tag.text
                  })
                "
        value="{{ tag.value }}"
      >
        {{ tag.text }}
      </dds-tag>
    </ng-container>
    <button
      class="dds__button dds__button--tertiary"
      (click)="clearAllFilters()"
    >
      Clear All
    </button>
  </div>
</div>
<div style="height: 400px;"></div>
